In [11]:
import numpy as np
import pandas as pd

In [12]:
df = pd.read_csv("model/keypoint_classifier/keypoint.csv", header=None)

In [13]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,0,0.0,0.0,-0.355556,-0.211111,-0.466667,-0.544444,-0.500000,-0.788889,-0.511111,...,-0.288889,-0.455556,0.000000,-0.688889,-0.400000,-0.611111,-0.344444,-0.444444,-0.222222,-0.422222
1,0,0.0,0.0,-0.347826,-0.217391,-0.456522,-0.532609,-0.478261,-0.782609,-0.489130,...,-0.271739,-0.456522,0.010870,-0.673913,-0.380435,-0.608696,-0.326087,-0.445652,-0.206522,-0.423913
2,0,0.0,0.0,-0.347826,-0.217391,-0.445652,-0.543478,-0.467391,-0.793478,-0.478261,...,-0.271739,-0.456522,0.032609,-0.684783,-0.347826,-0.608696,-0.304348,-0.445652,-0.184783,-0.423913
3,0,0.0,0.0,-0.344086,-0.215054,-0.440860,-0.537634,-0.473118,-0.784946,-0.483871,...,-0.279570,-0.451613,0.021505,-0.666667,-0.365591,-0.602151,-0.322581,-0.440860,-0.193548,-0.419355
4,0,0.0,0.0,-0.347826,-0.217391,-0.456522,-0.543478,-0.478261,-0.793478,-0.489130,...,-0.282609,-0.445652,0.010870,-0.673913,-0.369565,-0.608696,-0.326087,-0.445652,-0.206522,-0.423913

In [14]:
df[0].value_counts().sort_index()

0
0     1550
1     1466
2     1748
3     1520
4      921
5     1051
6      958
7     1302
8     1583
9     1758
10    1296
11    1067
12    2052
13    1054
14     842
15     961
16     950
17    1003
18    2100
19    1124
20    1569
21    1145
22    1177
23    1149
24    1003
25    1285
26    1789
27    1210
28    1967
29    1034
30    1343
31    1806
32    1593
33    1691
34    1561
35    1758
36    1906
37    1529
38    1763
39    1729
40    1514
41    1836
42    2195
43    2060
44    1691
45    1691
46    1920
47    1817
48    2020
49    1377
50    1788
51    2096
52    2187
53    1733
54    1631
55    1837
56    2204
57    1647
58    1779
59    1635
Name: count, dtype: int64

In [15]:
df.shape

(92971, 43)